<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="" />
    </head>
    <body>
        <h1>Hello world</h1>
        <table border="1">
            {% for x in mymembers %}
            <tr>
                <td>{{x.id}}</td>
                <td>{{x.firstname}}</td>
                <td>{{x.lastname}}</td>
                <td><a href="update/{{ x.id }}">update</a></td>
                <td><a href="delete/{{ x.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <a href="add/">Add member</a>
    </body>
</html>
